.hola1 {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 70px;
    padding-bottom: 20px;
    font-family: Roboto, sans-serif;
    font-weight: bolder;
    font-size: 39px;

}