.brunotrolo {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-left: 50px;
    padding-right: 50px;
}


.brunotrolo img {
    width: 90px;
    height: 60px;
    aspect-ratio: 3/4;
    object-fit: contain;
}

.brunotrolo img:hover {
    transform: scale(1.1);
    transition: 1s all;
}